<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Stock Dashboard</title>
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <script src="//cdn.plot.ly/plotly-latest.min.js"></script>

        <link rel="stylesheet" href=/static/css/normalize.css/>
        <link rel="stylesheet" href=/static/css/skeleton.css/>
        <link rel="stylesheet" href=/static/css/style.css/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="shortcut icon" type="image/jpg" href="/static/images/icon.png"/>
    </head>
    <body>
        {% include 'includes/_navbar.html'%}
    
    <div class="container">
            <div style="clear: both">
                &nbsp;
                {% block content%}
                {% endblock %}

            </div>

        <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
        </script>

        </div>
    </body>
</html>